/* index */
@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@100&display=swap');

body {
  background-color: black !important;
  background-size: cover;
  overflow-x: hidden;
  overscroll-behavior: none;
}

body,
html {
  height: 100%;
}

#heading {
  animation: shade 5s linear infinite;
  text-align: center;
  font-size: 10vmin;
  line-height: 1;
  letter-spacing: 4px;
  -webkit-text-fill-color: transparent;
  background: linear-gradient(90deg, white, red, white);
  background-size: 70% 100%;
  background-repeat: no-repeat;
  -webkit-background-clip: text;
}

@keyframes shade {
  0% {
    background-position-x: -500%;
  }

  100% {
    background-position-x: 500%;
  }
}


/* animation for timebar */
@keyframes bar {
  from {
    width: 0%;
  }

  to {
    width: 100%;
  }
}
/* darkens the carouel  */
.darken {
  filter: brightness(0.4) contrast(1.1);
}
/* grays the carousel */
.grayout {
  filter: brightness(0.4) contrast(0.7);
}
/* makes carousel blue */
.tint-blue {
  filter: sepia(1) contrast(0.6) hue-rotate(170deg) saturate(9) brightness(0.7);
}

.tint-teal {
  filter: sepia(1) contrast(0.7) hue-rotate(120deg) saturate(5) brightness(0.75);
}

.tint-red {
  filter: sepia(1) contrast(0.7) hue-rotate(-50deg) saturate(6) brightness(0.65);
}

.tint-green {
  filter: sepia(1) contrast(0.7) hue-rotate(80deg) saturate(4) brightness(0.7);
}

.tint-yellow {
  filter: sepia(1) contrast(0.6) hue-rotate(-5deg) saturate(7) brightness(0.65);
}

.tint-orange {
  filter: sepia(1) contrast(0.6) hue-rotate(-30deg) saturate(7) brightness(0.65);
}

.tint-purple {
  filter: sepia(1) contrast(0.65) hue-rotate(225deg) saturate(7) brightness(0.65);
}

.tint-pink {
  filter: sepia(1) contrast(0.75) hue-rotate(255deg) saturate(5) brightness(0.7);
}

.hero-section {
  height: 45vw;
  min-height: 500px;
  width: 100%;
  background: black;
}

.button-container {
  /*   background: red; */
  height: 45vw;
  min-height: 500px;
  width: 100%;
  /*   overflow:hidden; */
  position: relative;
}

.carousel-container {
  position: absolute;
  width: 100%;
  height: 45vw;
  min-height: 500px;
  transition-duration: 500ms;
}

.slide {
  position: absolute;
  z-index: 2;
  width: 100%;
  height: 45vw;
  min-height: 500px;
  background-image: url("https://i.postimg.cc/sXcLD2v4/spider-man-2-adidas-shoes-ign-2023-preorder-order-where-to-buy-1696341802109.png");
  background-repeat: no-repeat, repeat;
  background-position: center;
  background-size: cover;
}

.slide-2 {
  position: absolute;
  z-index: 2;
  width: 100%;
  height: 45vw;
  min-height: 500px;
  background-image: url("https://i.postimg.cc/2jPB07Hh/puma-Photo-Room-png-Photo-Room.png");
  background-repeat: no-repeat, repeat;
  background-position: center;
  background-size: cover;
}

.slide-3 {
  position: absolute;
  z-index: 2;
  width: 100%;
  height: 45vw;
  min-height: 500px;
  background-image: url("https://i.postimg.cc/d0LsMz31/nike-Photo-Room-png-Photo-Room.png");
  background-repeat: no-repeat, repeat;
  background-position: center;
  background-size: cover;
}

.information-container {
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 5;
  background: none;
}

.information {
  width: calc(100% - 200px);
  max-width: 1000px;
  height: auto;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0px;
  transition-duration: 400ms;
  transform: translateY(0px);
  opacity: 1;
}

.sdiv {
  height: 12vw;
  height: 25%;
}

.carousel-title {
  color: white;
  font-family: helvetica;
  font-size: 60px;
  margin-bottom: 0px;
  text-shadow: 0px 3px 10px rgba(0, 0, 0, 0.36);
  text-transform: uppercase;
  transition-duration: 200ms;
  transform: translateY(0px);
  filter: blur(0px);
  opacity: 1;
  cursor: default;
}

.carousel-title:hover {
  transform: scale(1.01) translateY(-2px);
  text-shadow: 0px 10px 15px rgba(0, 0, 0, 0.3);
  transition-duration: 400ms;
}

.carousel-sub-text {
  color: white;
  font-family: helvetica;
  font-weight: 200;
  font-size: 22px;
  margin-bottom: -20px;
  text-shadow: 0px 3px 10px rgba(0, 0, 0, 0.36);
  transition-duration: 200ms;
  transform: translateY(0px);
  filter: blur(0px);
  opacity: 1;
  cursor: default;
}

.carousel-sub-text:hover {
  transform: scale(1.01) translateY(0px);
  text-shadow: 0px 6px 15px rgba(0, 0, 0, 0.3);
  transition-duration: 400ms;
}

.text-out {
  transform: translateY(70px);
  filter: blur(20px);
  opacity: 0;
}

.carousel-button {
  cursor: pointer;
  display: block;
  margin-top: 50px;
  font-size: 20px;
  font-family: arial;
  padding: 20px 40px;
  border: none;
  border-radius: 50px;
  background: rgb(255, 0, 138);
  background: linear-gradient(0deg, rgba(255, 0, 138, 1) 0%, rgba(252, 216, 69, 1) 100%);
  text-shadow: 0px 3px 10px rgba(0, 0, 0, 0.36);
  color: white;
  text-transform: uppercase;
  box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.2);
  transition-duration: 400ms;
}

.carousel-button:hover {
  filter: brightness(1.1) contrast(1.3);
  transform: scale(1.05);
  box-shadow: 0px 10px 25px rgba(0, 0, 0, 0.2);
  transition-duration: 400ms;
}

.button-out {
  transform: scale(0);
  opacity: 0;
}

.ctrl-right {
  position: absolute;
  right: 0px;
  bottom: 0px;
  padding: 20px;
  font-size: 12px;
  border: none;
  background: rgba(0, 0, 0, 0.2);
  color: white;
  border-radius: 10px 0px 0px 0px;
  backdrop-filter: blur(8px);
  text-shadow: 0px 3px 10px rgba(0, 0, 0, 0.16);
  z-index: 8;
  cursor: pointer;
}

.ctrl-left {
  position: absolute;
  left: 0px;
  bottom: 0px;
  padding: 20px;
  font-size: 12px;
  border: none;
  background: rgba(0, 0, 0, 0.2);
  color: white;
  border-radius: 0px 10px 0px 0px;
  backdrop-filter: blur(8px);
  text-shadow: 0px 3px 10px rgba(0, 0, 0, 0.16);
  z-index: 8;
  cursor: pointer;
}

.ctrl-left:hover {
  background: rgba(0, 0, 0, 0.9);
}

.ctrl-right:hover {
  background: rgba(0, 0, 0, 0.9);
}

.out-left {
  transform: translateX(-100vw);
  height: 0px;
  transition-duration: 500ms;
}

.out-right {
  transform: translateX(100vw);
  height: 0px;
  transition-duration: 500ms;
}

.out-fade-down {
  transition-duration: 1000ms;
  transform: translateY(100px) rotate(0deg) scale(0.3);
  opacity: 0;
}

button:focus {
  outline: none;
}

.spot-counter {
  background: none;
  position: absolute;
  bottom: 20px;
  width: 60px;
  height: 10px;
  z-index: 8;
  left: 50%;
  margin-left: -30px;
  display: flex;
  justify-content: space-around;
}

.spot {
  width: 10px;
  height: 10px;
  background: rgba(255, 255, 255, 0.5);
  border-radius: 50px;
  transform: scale(0.5);
  transition-duration: 500ms;
}

.active-spot {
  background: white !important;
  transform: scale(1);
  transition-duration: 500ms;
}

.timer-bar {
  position: absolute;
  z-index: 9;
  bottom: 0;
  background: rgba(0, 0, 0, 0.35);
  backdrop-filter: blur(8px);
  width: calc(100% - 145px);
  height: 7px;
  left: 73px;
  border-bottom: 1px solid black;
}

.bar-inner {
  width: 100%;
  height: 6px;
  margin-top: 1px;
  background: rgba(255, 255, 255, 0.2);
  border-radius: 0px 50px 50px 0px;
}

.bar-anim {
  animation-name: bar;
  animation-duration: 10s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

@media only screen and (max-width: 1200px) {
  .sdiv {
    height: 8vw;
  }

  body {
    overflow-x: hidden;
  }
}

@media only screen and (max-width: 1200px) {
  .sdiv {
    height: 10vw;
  }

  .carousel-title {
    font-size: 5vw;
  }

  .carousel-sub-text {
    font-size: 2vw;
  }

  body {
    overflow-x: hidden;
  }
}

@media only screen and (max-width: 1000px) {
  .sdiv {
    height: 13vw;
  }

  .carousel-title {
    font-size: 40px;
  }

  .carousel-sub-text {
    font-size: 20px;
  }

  body {
    overflow-x: hidden;
  }
}

@media only screen and (max-width: 600px) {
  .sdiv {
    height: 25vw;
  }

  body {
    overflow-x: hidden;
  }

  .carousel-title {
    font-size: 30px;
  }

  .carousel-sub-text {
    font-size: 14px;
    margin-bottom: 5px;
  }

  .carousel-button {
    font-size: 14px;
    margin-top: 20px;
  }

  .information {
    width: calc(100% - 40px);
  }

  body {
    overflow-x: hidden;
  }
}


@media only screen and (max-width: 400) {
  .sdiv {
    height: 25vw;
  }

  body {
    overflow-x: hidden;
  }

  .carousel-title {
    font-size: 30px;
  }

  .carousel-sub-text {
    font-size: 14px;
    margin-bottom: 5px;
  }

  .carousel-button {
    font-size: 14px;
    margin-top: 20px;
  }

  .information {
    width: calc(100% - 40px);
  }

  body {
    overflow-x: hidden;
  }
}

@media only screen and (max-width: 300) {
  .sdiv {
    height: 25vw;
  }

  body {
    overflow-x: hidden;
  }

  .carousel-title {
    font-size: 30px;
  }

  .carousel-sub-text {
    font-size: 14px;
    margin-bottom: 5px;
  }

  .carousel-button {
    font-size: 14px;
    margin-top: 20px;
  }

  .information {
    width: calc(100% - 40px);
  }

  body {
    overflow-x: hidden;
  }
}
/* index */

/* about */
.bd-placeholder-img {
  font-size: 1.125rem;
  text-anchor: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

@media (min-width: 768px) {
  .bd-placeholder-img-lg {
    font-size: 3.5rem;
  }

}


.bi {
  vertical-align: -.125em;
  fill: currentColor;
}

.nav-scroller {
  position: relative;
  z-index: 2;
  height: 2.75rem;
  overflow-y: hidden;
}

.nav-scroller .nav {
  display: flex;
  flex-wrap: nowrap;
  padding-bottom: 1rem;
  margin-top: -1px;
  overflow-x: auto;
  text-align: center;
  white-space: nowrap;
  -webkit-overflow-scrolling: touch;
}

.btn-bd-primary {
  --bd-violet-bg: #712cf9;
  --bd-violet-rgb: 112.520718, 44.062154, 249.437846;

  --bs-btn-font-weight: 600;
  --bs-btn-color: var(--bs-white);
  --bs-btn-bg: var(--bd-violet-bg);
  --bs-btn-border-color: var(--bd-violet-bg);
  --bs-btn-hover-color: var(--bs-white);
  --bs-btn-hover-bg: #6528e0;
  --bs-btn-hover-border-color: #6528e0;
  --bs-btn-focus-shadow-rgb: var(--bd-violet-rgb);
  --bs-btn-active-color: var(--bs-btn-hover-color);
  --bs-btn-active-bg: #5a23c8;
  --bs-btn-active-border-color: #5a23c8;
}

.bd-mode-toggle {
  z-index: 1500;
}

.bd-mode-toggle .dropdown-menu .active .bi {
  display: block !important;
}

/* General styling for the page */


#soleHavenContent {
  max-width: 800px;
  margin: 50px auto;
  padding: 20px;
  background-color: #1f2128;
  border-radius: 10px;
}



.about-head,
.subhead {
  color: red;
  /* Spider-Man: Miles Morales red */
}


p {
  line-height: 1.6;
  color: white;
  font-family: 'Barlow', sans-serif;
  font-size: large;
}

/* Styling specific to the Spider-Man: Miles Morales theme */
.about-head::after {
  content: '🕷️';
  /* Spider emoji */
  margin-left: 10px;
  font-size: 1.5em;
}

.subhead::before {
  content: '👟';
  /* Running shoe emoji */
  margin-right: 10px;
}




/* about */

/* product */


body {
  background-color: black;
  overflow-x: hidden;
}

h2 {
  text-align: center;
}


.shoe-image {
  width: 50%;
  height: 65%;
  border-radius: 8px;
  text-align: center;
  margin-left: 10em;
}

#butt {
  display: block;
  margin: 0 auto;
  border: none;
  color: black;
  text-align: center;
  background: linear-gradient(to right, red, blue 85%)
}


#input {
  margin-top: 1%;
  top: 0;
  padding: .2%;
  margin-left: 9%;
  margin-bottom: 5px;
  border: solid 1px red;
  width: 100px;

}

#input:focus {
  outline: none;
  border-color: tomato;
  box-shadow: 0 0 5px rgba(30, 144, 255, 0.5);
}

#input::placeholder {
  color: red;
  font-style: italic;
}


.main {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 20px;
  max-width: 1200px;
  margin: 0 auto;
  text-align: center;
  /* justify-content: space-between; */
}

.div {
  border: 1px solid #ccc;
  padding: 20px;
  text-align: center;

}

.image {
  width: 100px;
  /* width: 50px; */
  height: 100px;
  text-align: center;
}

.h2,
.p,
.p+.p {
  color: white;
  margin: 10px 0;
  text-align: center;

}

.p+.p {
  font-weight: bold;
  /* background-image: linear-gradient(to right,red,blue); */
  text-align: center;

}

.cart {
  appearance: none;
  outline: 0;
  border: none;
  background-image: linear-gradient(to right, red, blue);
  border-radius: 20px;
}

#select {
  color: white;
  /* Default text color */
  background-image: linear-gradient(to right, red, blue);
  /* Default background color */
  border: 1px solid black;
  /* Default border color */
  padding: .2%;
  border: none;
  outline: none;

}

#select option {
  color: red;
  /* Text color for options */
  background-color: black;
}







/* admin  */

#editModal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(255, 0, 0, 0.4);
  /* Red background */
  padding-top: 60px;
}

.modal-content {
  background-color: #000;
  /* Black background */
  color: #fff;
  /* White text */
  margin: 5% auto;
  padding: 20px;
  border: 1px solid #00f;
  /* Blue border */
  width: 80%;
}

.close {
  color: red;
  /* White text */
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #fffeff;
  /* Blue text on hover/focus */
  text-decoration: none;
  cursor: pointer;
}

#h {
  color: #fff;
  /* Blue heading text */
}

.label {
  color: #fff;
  /* White label text */
}

.f {
  background-color: #fff;
  /* Blue input background */
  color: #000;
  /* Black input text */
}

#savebtn {
  background-color: red;
  /* White button background */
  color: #fff;
  /* Blue button text */
  border: 1px solid white;
  /* Blue button border */
  padding: 10px;
  cursor: pointer;
}

#savebtn:hover {
  background-color: black;
  /* Blue button background on hover */
  color: #fff;
  /* White button text on hover */
}

.adding {
  color: black;
  background-color: white;
  border: 2px solid red;
}

#add {
  background-image: linear-gradient(to right, red, blue);
  border: 2px solid white;
  color: #fffeff;
}

#addmodal {
  background-image: linear-gradient(to right, red, blue);
  border: 2px solid white;
  color: #fffeff;
  margin-left: 20px;
}

#close {
  background-image: linear-gradient(to left, red, blue);
  border: 2px solid white;
  color: #fffeff;
}

#cen {
  display: flex;
  justify-content: center;
  height: 50vh;
  align-items: center;
}

#sorting {
  margin-left: 20px;
  background-image: linear-gradient(to left, red, blue);
  border: 2px solid white;
  color: #fffeff;
}

/* admin */



/* contact */


#contact::first-letter {
  color: red;
  text-transform: capitalize;

}

.con {
  display: flex;
  justify-content: center;
}

#contactMe {
  display: flex;
  justify-content: center;
  align-items: center;
}

.contactInfo {
  box-shadow: 10px 10px 10px rgb(20, 20, 20);
  display: flex;
  flex-direction: column;
  width: 500px;
  height: 500px;
  justify-content: center;
  padding: 10px;
  background: rgb(56, 56, 56);
  z-index: 1;
}

.info a {
  text-decoration: none;
  color: red
}

.info {
  color: red
}

.info span {
  color: rgb(255, 255, 255);
}

.contactInfo iframe {
  width: 300px;
  height: 300px;
}

.contactForm {
  box-shadow: inset -10px 10px 10px rgb(20, 20, 20);
  background: rgb(49, 49, 49);
  border-radius: 0 10px 10px 0;
  width: 400px;
  height: 500px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 10px;
  gap: 5px;
  transition: 1s;
}

.formInput p {
  margin: 0;
  padding: 0;
  color: rgb(230, 21, 21);
}

.formInput input {
  width: 100%;
  height: 30px;
  border: 3px solid rgb(105, 119, 155);
  border-radius: 5px;
  padding: 5px;
}

textarea[name="message"] {
  width: 100%;
  height: 100px;
  border: 3px solid rgb(105, 119, 155);
  border-radius: 5px;
  padding: 5px;
}

#sub {
  box-shadow: 3px 3px 3px rgb(20, 20, 20);
  border: 1px solid #fffeff;
  border-radius: 5px;
  background: darkcyan;
  color: white;
  width: 5rem;
  height: 2rem;
}

#conhead {
  color: darkcyan;
}

@media screen and (max-width < 1080) {
  body {
    text-align: center;
  }
}

/* contact */

/* checkout */

.quantity-input {
  padding: 10px;
}


/* checkout */